
  <div class="table-tab">
  YEARLY VIEW OF CLEANING SCHEDULE
  <!-- <button type="button" active="state" class=" btn btn-secondary">Secondary</button> -->
  <div class="display btn-group mr-2" role="group" aria-label="First group">
    <button type="button" data-target="#dropdown1" data-toggle="collapse" class="btn btn-primary" (click)="onClick()" [class.disabled]="state">View Graph</button>
    <button type="button" data-target="#dropdown2" data-toggle="collapse" class="btn btn-secondary " (click)="onClick2()" [class.disabled]="state2">View Selects</button>  
  </div>
</div>
<div id="dropdown1" class="charts collapse">
 <div class="g1">
    YEARLY VIEW GRAPH 
    <plotly-plot [data]="data" (click)="addElement($event)" [layout]="layout1" [revision]="0" [debug]="debug" useResizeHandler="true"></plotly-plot>
</div>
</div>
<!-- [useResizeHandler]="useResizeHandler" -->
<div id="dropdown2" class="charts collapse">
  <div *ngIf="selections.length>0; then display else nodisplay"></div>
  <ng-template #display>
    <div class="charts1" *ngFor="let index of selections">
      {{ index }}
      <button class="minus_button" type="button" (click)="removeElement(index)" class="btn btn-secondary btn-sm">
          <span class="glyphicon glyphicon-minus-sign"></span>
      </button>
    </div>
  </ng-template>
  <ng-template #nodisplay>No selections have been made.</ng-template>
</div>
 
  

<!-- involve ng -... tags to make a dropdown chart, instead of the div charts -->
<!-- <div *ngIf="status">{{ ele }}</div> -->

